<div class="container mt-4">
  <div class="content-box">
    <div class="profile-user">
      <div class="content-image">
        <!-- <img src="<%#= @user.thumbnail_url %>" alt=""> -->
      </div>
      <div class="profile-name">
        <h4><%= @user.email %></h4>
      </div>
    </div>
    <div class="profile-button">
      <%= link_to current_user&.following?(@user) ? "언팔로우" : "팔로우", follow_relation_path(@user), class: "btn btn-success", id: "follow_#{@user.id}", remote: true unless current_user == @user %>
      <% if current_user&.following?(@user) && current_user != @user %>
        <p>팔로잉 돼있습니다.</p>
      <% end %>
      <button class="buttons">Message</button>
    </div>

    <div class="row mt-5">
      <div class="col-50">
        <%= link_to following_follower_relation_path(@user, follower: true) do %>
          <h5><%= @user.followers.count %></h5>
          <span>팔로워</span>
        <% end %>
      </div>
      <div class="col-50">
        <%= link_to following_follower_relation_path(@user) do %>
          <h5><%= @user.followings.count %></h5>
          <span>팔로잉</span>
        <% end %>
      </div>
    </div>

  </div>
</div>
